<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
    <title>SISO System</title>
  </head>
  <body>
    <main class="container">
      <nav>
        <ul><li><h3 class="clr">Sign-in / Sign-out</i> System</h3></li></ul>
        <ul>
          <li><h3><a href="/"><i class="bi bi-house-door clr"></i></a></h3></li>
        </ul>
      </nav>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div>
          {% for message in messages %}
            <p class="msg">{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>