{% extends "base.html" %}

{% block content %}
<h3>Passes from: <span class="clr">{{ day }}</span></h3>

<table>
  <tr>
    <th>Name</th>
    <th>Pass To</th>
    <th class="mid">Left at</th>
    <th class="mid">Returned at</th>
  </tr>
  {% for row in rows %}
    <tr>
      <td>{{ row.f_name }} {{ row.l_name }}</td>
      <td>{{ row.location }}</td>
      <td class="mid">{{ row.out_time }}</td>
      {% if row.in_time %}
        <td class="mid">{{ row.in_time }}</td>
      {% else %}
        <td class="clr mid"><i class="bi bi-slash-circle"></i></td>
      {% endif %}
    </tr>
  {% endfor %}
</table>

{% endblock %}