{% extends "base.html" %}

{% block content %}
<h3>Passes to {{ location }} for {{ stu_name }}</h3>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Left at</th>
      <th>Returned at</th>
      <th>Info</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
      <tr>
        <td>{{ row.pass_date }}</td>
        <td>{{ row.out_time }}</td>
        <td>{{ row.in_time }}</td>
        <td>
          <a class="clr" href="/pass/{{ row.id }}"><i class="bi bi-info-square-fill"></i></a>
          <a class="clr" href="/edit/{{ row.id }}"><i class="bi bi-pencil"></i></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h4>
  <a href="/summary/{{ stu_id }}" role="button" class="secondary">Back to Student Summary</a>
</h4>
<h4>
  <a href="/summary" role="button" class="secondary">Back to Summary</a>
</h4>

{% endblock %}