{% extends "base.html" %}

{% block content %}
<h3>Passes for {{ stu_name }} By Location</h3>
<table>
  <thead>
    <tr>
      <th># of Passes</th>
      <th>Location</th>
      <th>Info</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td>{{ row.total }}</td>      
      <td>{{ row.location }}</td>      
      <td><a class="clr" href="/summary/{{ row.student_id }}/{{ row.location }}"><i class="bi bi-info-square-fill"></i></a></td>      
    </tr>
    {% endfor %}
  </tbody>
  
</table>

<h4>
  <a href="/summary" role="button" class="secondary">Back to Summary</a>
</h4>

{% endblock %}